@media (min-width: 2560px) {
   .col-lg-6:has(> .embedVideo){
      width: 100% !important;
   }
   .col-lg-6:nth-child(2){
      h6{
         margin-top: 30px;
      }
   }
   html{
      scroll-padding-top: var(--scroll-padding, 200px);
   }
   #right_arrow{
      img{
         transform: rotate(90deg);
      }
   }
   .navbarfixed{
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 1000;
      background-color: #fff;
   }

   .stepNavPills{
      display: none !important;
   }
   .slideArows{
      position: fixed;
      left: 0;
      width: 100%;
      margin-top: 100px;
      .slideArrow{
         border: 1px solid #CCCCCC;
         border-radius: 5px;
         width: 60px;
         height: 60px;
         cursor: pointer;
         transition: all 0.3s;
         &:hover{
            background-color: #f5e1e1;
         }
      }
      .slideIndicatior{
         height: 3px;
         background-color: #CCCCCC;
         .scrollBarMove{
            width: 50%;
            height: 100%;
            background-color: red;
            transition: all 1s;
         }
      }
   }
   .step.collapse:not(.show){
      display: block;
   }
   .full_body{
    .container{
      .videoDownloodCol{
         display: none !important;
      }
      .pdfWebFormatArea{
         width: 100%;
      }
      .collapsible_item > .card{
         min-width: 765px;
         height: 100%;
         margin-right: 30px;
      }
      .collapsible_item{
         display: flex;
         overflow-x: auto;
         -webkit-overflow-scrolling: touch;
         &::-webkit-scrollbar{
            display: none;
         }
         scroll-behavior: smooth;
         margin-top: 150px;
      }
    }
   }
   .container{
      max-width: 95%;
      margin: 0 auto;
   }
   .relocation_series_page{
      display: none;
   }
   #normal_screen_nab{
      display: none;
   }
   #wide_screen_nab{
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
      // width: 100%;
      // height: 100%;
      // #wide_screen_nab_steps{
      //    margin-left: 200px;
      // }
   }
   .download_btn_pdf{
      margin-top: 0 !important;
   }
   

}
@media (max-width: 2559px) {
   .stepNavPills{
      display: none;
   }
   html{
      scroll-padding-top: var(--scroll-padding, 200px);
   }
   .navbarfixed{
      position: sticky;
      top: 0;
      z-index: 2000;
   }
   .navbar_button {
      background-color: #fff;
   }
   .videoDownloodCol{
      display: none !important;
   }
   .rightSideYoutubeVideo{
      // position: fixed;
   }
   #wide_screen_nab_steps{
      // display: none !important;
   }
   #steps_nav_wv_dpdf{
      .download_btn_pdf{
      }
   }
   .slideArows{
      display: none !important;
   }
}

@media(max-width: 991px){
   #MIvPd{
      display: block !important;
   }
   #popup_video .video_area{
      width: 80% !important;
      padding: 10px !important;
   }
   #popup_video .video_area #video_cross{
      right: 0 !important;
   }
   .stepNavPills{
      display: block;
   }
   .logo{
      z-index: 2020;
  }
   .navbarfixed{
      position: unset !important;
   }
   #wide_screen_nab_steps{
      display: none !important;
   }
   .videoDownloodCol{
      display: block !important;
   }
   #steps_nav_wv_dpdf{
      display: none !important;
   }
   .rightSideYoutubeVideo.sticky-top{
      position: unset;
   }
   #top_nav{
       position: absolute;
       top: 0;
       z-index: 2000;
       width: 100%;
    }
    .navbar_button{
        margin-top: 56px;
    }
    .logo{
        z-index: 3000;
    }
    .step_header h6{
       font-size: 14px;
   }
   .step_header .watch_video span {
       font-size: 12px !important;
   }
}

@media(max-width: 575px){
   #popup_video .video_area{
      width: 100% !important;
      padding: 10px !important;
   }
   #top_nav{
      position: absolute;
      top: 0;
      width: 100%;
   }
   .navbar_button{
       margin-top: 56px;
   }
   
   .relocation_series_page{
       margin-left: auto !important;
       img{
           width: 250px;
       }
   }
   #normal_screen_nab{
       .steps_pills{
         overflow-x: auto !important;
         flex-wrap: nowrap !important;
         height: 50px;
         align-items: center;
         &::-webkit-scrollbar{
            display: none;
         }
         -webkit-overflow-scrolling: touch;
         .nav-item{
            a{
                  font-size: 12px;
                  text-align: center;
            }
            min-width: 75px;
         }
       }
   }
   .step_header .watch_video span {
       font-size: 12px;
   }
   .step_header h6{
       font-size: 14px;
   }
   .watch_video{
      span{
         display: none;
      }
   }
}


@media(max-width: 375px){
   .relocation_series_page {
      img{
         width: 200px;
      }
   }
}


@media (min-width: 992px) and (max-width: 1200px){
   #wide_screen_nab_steps{
      .steps_pills{
         .nav-item{
            > .nav-link{
               font-size: 12px;
            }
         }
      }
   }
   .navbar_button .navbar_contant .relocation_series_page{
      margin-left: 100px !important;
   }
}