@import "variables.scss";
@import "globalClass.scss";
@import "screen.scss";

body, html, *{
    font-family: 'Inter', sans-serif !important;
}
.navbar-nav{
    .nav-item{
        .nav-link{
            font-family: 'Inter', sans-serif !important;
            font-weight: 200;
            color: #FDFDFD;
            font-size: 13px;
        }
    }
}
.contactNumber{
    font-size: 12px;
}

// bottom nevbar

.navbar_button{
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.08);
    .navbar_contant{
        height: 60px;
        position: relative;
        .logo{
            position: absolute;
            top: -85%;
            img{
                height: 120px;
            }
        }
        .relocation_series_page{
            height: 100%;
            margin-left: 140px;
        }
    }
}


.full_body{
    background-color: $body_color;
    height: 100%;
}
// Nav pills for steps

.steps_pills{
    .nav-link{
        font-size: 14px;
        font-weight: bold;
        color: $black_color;
    }
    .active{
        background-color: $red_color !important;
    }
}

.collapsible_item{
    .card-header{
        padding: 10px 20px;
        cursor: pointer;
        background-color: $white_color;
        border-bottom: 0;
    }
    .card{
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.step_header{
    h6{
        font-weight: bold !important;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    .step_number{
        font-size: 13px;
    }
    .watch_video{
        background-color: $lightRed_color;
        color: $red_color;
        font-weight: bold;
        span{
            font-size: 16px;
        }
    }
    .pdf_circle_dn{
        background-color: $lightRed_color;
        padding: 10px;
        text-align: center;
    }
    #right_arrow{
        img{
            transition: all 0.2s;
        }
    }
}

.sub_item{
    .sub_item_header{
        // font-weight: bold;
        color: #272B27;
        font-size: 14px;
    }
    .card-header{
        background-color: $body_color;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .card-body{
        .sub_itemofitem > h2{
            font-size: 14px;
            font-weight: bold;
            span{
                color: $red_color;
            }
        }
    }
    background-color: $body_color;
    &:nth-child(even){
        background-color: unset !important;
        .card-header{
            background-color: unset;
        }
        border: unset;
    }
    margin-bottom: 0 !important;
}
p{
    font-size: 13px;
}
.sub_itemofitemofitems{
    .sub_itemofitemofitem > h2{
        font-size: 16px;
        color: #000000;
    }
    border-left: 1px solid #D9D9DA;
    .sub_itemofitemofitem{
        &:last-child{
            p{
                margin-bottom: 0;
            }
        }
    }
}
.learn_more_button{
    width: 280px !important;
    cursor: pointer;
    .rounded-circle{
        background-color: $red_color;
    }
    div{
        width: 32px;
        height: 32px;
        color: #fff;
    }
    span{
        color: #272B27;
        font-size: 14px;
        font-weight: 500;
    }
}

.test{
    // max-height: 500px;
    overflow-x: auto;
    display: flex;
    div{
        min-width: 500px;
        height: 500px;
        margin-right: 20px;
        background-color: #000000;
    }
}

#popup_video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 2000;
    .video_area{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
        #videoPlayer{
            
        }
        #video_cross{
            width: 40px;
            height: 40px;
            position: absolute;
            right: -40px;
            top: -40px;
            border-radius: 10px;
            cursor: pointer;
        }
        .vc_dpdf{
            position: absolute;
            top: 100%;
        }
    }
}
#download_btn_pdf{
    width: 340px !important;
    margin-top: 0 !important;
}
.viewCount{
    background-color: #EEEEEE;
}
#category{
    font-size: 12px;
    font-weight: bold;
    color: #909090;
    margin-left: 20px;
    margin-right: 20px;
    &:first-child{
        border-top: 1px solid #CCCCCC;
    }
}




// ================================================================================================================================

.zoomOutRight {
    -webkit-animation-name: zoomOutRight;
    animation-name: zoomOutRight;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@keyframes zoomOutRight {
    40% {
    opacity: 1;
    // -webkit-transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
    // transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
    top: 0;
    
    
    }
    100% {
    opacity: 0;
    width: 2%;
    height: 2%;
    // -webkit-transform: scale(.1) translate3d(2000px, 0, 0);
    // transform: scale(.1) translate3d(0, 0, 0);
    // -webkit-transform-origin: right center;
    // transform-origin: right center;
    left: 70%;
    top: 50px;
    }
}

.video_button_intro_2560{
    width: 28px;
    height: 28px;
    border-radius: 50%;
}
.pulse {
    animation: pulse-animation 2s infinite;
  }
  
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.5);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(255, 0, 0, 0);
    }
}



.dropdown_pdf_btn{
    &:hover{
        .donloadIcon{
            animation: icon-down 0.5s;
            animation-iteration-count: 2;
        }
    }
}

@keyframes icon-down {
    33.3%{
        transform: translateY(-5px);
    }
    66.6%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0);;
    }
}


.WatchVideoByPopup{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3000;
}
.shadwo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}
.WatchVideoByPopupPlayer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.3s;
    z-index: 3000;
}
.WatchVideoByPopupCross{
    position: absolute;
    right: -40px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #BB0F31;
    top: -40px;
}
.transoff{
    transition: unset;
}